.navbar {
  background-color: #232d42;
  min-height: 5rem;
  position: fixed;
  width: 100%;
}

.myname{
    color: #fff;
    margin-top: .5rem;
    visibility: hidden;
    font-size: 1px;
}

.me-auto{
    margin-left: 40rem;
}

.navLink {
  color: white !important;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 45px;
  text-align: right;
  margin-left: 1.5rem;
}

.navLink:hover {
    text-decoration: overline;
    text-decoration-thickness: 5px;
    text-decoration-color: aqua;
  
}

.ResumeBTN{
    border-color: white;
    height: 3rem;
    margin-top: .4rem;
    margin-left: 1.5rem;
    color: white;
    text-align: center;
}

.ResumeBTN:hover{
    background-color: white;
    color: #232d42;
    box-shadow: none;
    
}

@media only screen and (max-width: 991px) {

    .myname{
        color: #fff;
        margin-top: .6rem;
        visibility: visible;
        font-size: 1.6rem;
    }
	.navbar-toggler{
        background-color: white;
    }
    .me-auto{
        margin-left: -1rem;
    }
    .navLink{
        text-align: center;
        box-shadow: aqua 0px 1px 0px 0px ;
    }
    
  }