@import url("https://fonts.googleapis.com/css2?family=Caramel&display=swap");

.header {
  background-color: rgb(29, 29, 29);
  color: white !important;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12%;
  padding-bottom: 2%;
  padding-top: 2%;
}

.tag1:before {
  content: "<html>";
  color: #575757;
  font-family: "Caramel", cursive;
  font-size: 2rem;
}

.tag1::after {
  content: "\00a0 \00a0 \00a0 \00a0 \00a0<body>";
  color: #575757;
  font-family: "Caramel", cursive;
  font-size: 2rem;
}

.hedline {
  padding-top: 7%;
}

.hedline:before {
  content: "<h1>";
  color: #575757;
  font-family: "Caramel", cursive;
  font-size: 2rem;
}

.hedline::after {
  content: "</h1>";
  color: #575757;
  font-family: "Caramel", cursive;
  font-size: 2rem;
}

.letter {
  font-size: 5.5rem;
  display: inline-block;
  font-weight: bolder;
  will-change: transform;
  cursor: default;
  transition: transform 0.5s ease;
}

.letter:hover {
  color: aqua;
  transform: scaleX(0.9) scaleY(1.2);
  transition: transform 0.2s ease;
}

.sp1 {
  padding-left: 2%;
}

.sp2 {
  padding-right: 2%;
}

#IMP-letter {
  color: aqua;
  filter: drop-shadow(5px -8px 0px red);
}

#IMP-letter:hover {
  transform: scaleX(1) scaleY(1);
}

.short-line span {
  color: #7b7878;
  font-size: 1.3rem;
  padding-left: 2%;
}

.short-line:before {
  content: "<p>";
  color: #575757;
  font-family: "Caramel", cursive;
  font-size: 2rem;
}

.short-line::after {
  content: "</p>";
  color: #575757;
  font-family: "Caramel", cursive;
  font-size: 2rem;
}

.contact-btn {
  color: aqua;
  width: 12rem;
  height: 3.5rem;
  background-color: transparent;
  border: 2px solid aqua;
  cursor: pointer;
  font-size: large;
}

.contact-btn:hover{
  background-color: aqua;
  color: black;
  transition: 0.7s;
  box-shadow: 8px 8px 1px red;
}
